.container{
    margin-top: 50px !important;
}
a {
    margin-right: 10px !important;
}
h1{
    margin-bottom: 30px !important;
}
.nav-link{
    margin-top: 10px !important;
    padding-left: 0px !important;
}
table {
    margin-bottom: 30px !important;
}